# list of ignored files/folders
*.drawio.*
res/*
results/*

build/
*/math0471-mpip-main/
*~
*.o
*.obj
*.bak
.vscode/
*.msh
gmsh-sdk/
eigen/
*.tgz
*.zip
*.swp
a.out
*.m
*.info
*.bin
*.pre
*.par
*.res
output/
*.json
*.pos

# latex
*.aux
*.log
*.nav
*.out
*.pdf
!fig_*.pdf
!presentation_*.pdf
*.snm
*.synctex*
*.toc
*.fls 
*.fdb_latexmk
*.xml
*.bcf
*.bbl
*.blg

Backup_of*
tmp/
out.txt
*.db
*.DS_Store
*.xlsx
